@media screen and (max-width: 1400px) {
  #profile {
    height: 100vh;

  }

  .about-containers {
    flex-wrap: wrap;
  }

  #contact,
  #projects {
    height: auto; /* Set height to auto for responsive height */
  }

  section,
  .section-container {
    height: 100%; /* Set height to 100% for full height */
  }
}
  
@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    height: auto;
    display: flex;
  }

  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }

  #profile,
  .section-container {
    height: 100vh;
    display: block;
  }

  .section__pic-container {
    margin-top: 15% !important;
  }

  .arrow {
    display: none;
  }

  section,
  .section-container {
    height: auto; /* Adjusted to auto */
  }

  section {
    margin: 0 5%;
  }

  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }

  .about-containers {
    margin-top: 0;
  }
  
  /* Updated for column display */
  .experience-details-container {
    display: flex;
    flex-direction: column; /* Change to column direction */
    align-items: center; /* Center align the cards */
    gap: 2rem;
  }
  
  .color-container {
    width: 100%; /* Ensure full width in column layout */
    background: transparent;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 2rem;
  }
  
  .color-container:hover {
    background-color: white;
    color: black;
  }
  
  .project-img {
    border-radius: 2rem;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  
  .project-title {
    margin: 1rem 0;
    color: white;
  }
  
  .color-container:hover .project-title {
    color: #78866B;
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .project-btn {
    color: #78866B;
    background: #fff;
    border: 1px solid #aaa;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .project-btn:hover {
    background-color: #78866B;
    color: #fff;
  }
  
  .arrow {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    width: 50px;
    cursor: pointer;
  }
  
}

  
@media screen and (max-width: 600px) {
 #about, #experience, #testimonials, #contact,
  footer {
    height: auto;
  }

  #profile {
    height: 100vh;
  }

  #hamburger-nav {
    height: auto;
  }

  .section__pic-container {
    margin-top: 30%;
  }

  article {
    font-size: 1rem;
  }

  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  .contact-info-container {
    margin: 0;
  }

  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }

  .experience-sub-title {
    font-size: 1.25rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .section__pic-container {
    width: 46vw;
    height: 46vw;
    justify-content: center;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }

  .title {
    font-size: 2rem;
  }

  .text-container {
    text-align: justify;
  }

  section {
    height: auto; 
  }
}